body {
  font-family: "Times New Roman", Times, serif;
  color: white;
  margin: 0px;
  padding: 0px;
  background: url("../images-1/perfect gym image.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.left img {
  max-width: 100px;
  height: auto;
  filter: invert(100%);
}
.left {
  display: inline-block;
  position: absolute;
  left: 25px;
  top: 2px;
}
.left div {
  line-height: 20px;
  text-align: center;
  font-size: 15px;
}
.mid {
  display: block;
  width: 45%;
  margin: 45px auto;
}
.navbar li {
  display: inline-block;
  font-size: 25px;
}
.navbar li a {
  color: white;
  text-decoration: none;
  padding: 14px 12px;
}
.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: red;
}
.right {
  position: absolute;
  right: 30px;
  top: 40px;
  display: inline-block;
}
.btn {
  margin: 0px 10px;
  background-color: black;
  color: white;
  padding: 5px 5px;
  border: 2px solid gray;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: black;
}
.container {
  border: 2px solid white;
  margin: 150px 400px;
  padding: 10px 120px;
  width: auto;
  border-radius: 6px;
}
.form-group {
  text-align: center;
  justify-content: center;
  display: block;
  width: 175px;
  padding: 2px;
  margin: auto;
  font-size: 20px;
  border-radius: 5px;
}
.container button {
  display: block;
  text-align: center;
  width: 175px;
  padding: 2px;
  margin: 5px auto;
  font-size: 20px;
  border-radius: 5px;
}
.container button:hover {
  color: white;
  background-color: black;
}

input:hover {
  color: white;
  background-color: rgba(71, 87, 91, 0.925);
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  width: 175px;
  border: 2px solid black;
}
input:focus {
  outline: none;
  border: 1px solid black;
  transform: scale(1);
}

